*, body, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.hero-section{
    width: 100%;
    height: 100vw;
    background-color: rgb(255, 223, 182);
}
.hero-section nav{
    height: 60px;
    background-color: rgb(248, 229, 204);
    position: fixed;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
}
.hero-section nav ul{
    display: flex;
    width: 100%;
    padding: 10px;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.home_link{    
    padding-top: 10px;
}
.home_link a{
    color: #222;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 25px;
}
.about_link, .other_home_link{
    margin-left: auto;
    font-size: 18px;
    font-weight: 400;
}
.hero-section nav ul li a{
    color: #222;
}
.hero-section nav ul li{
    padding-right: 10px;
}

h1{
    padding-top: 80px;
    text-align: center;
}